.textContainer {
  width: 100%;
}

.textContainer h3 {
  color: rgb(201, 201, 201);
}

.textContainer p {
  color: rgb(159, 159, 181);
  margin-top: 1em;
}

@media screen and (min-width: 1400px) {
  .textContainer {
    width: 50%;
  }
}
