.home {
  margin-top: 5em;
  height: 84vh;
  position: relative;
}

.header h1 {
  color: rgb(201, 201, 201);
  font-family: sans-serif;
  font-size: 3.4em;
}

.header h2 {
  color: rgb(16, 16, 40);
  font-family: sans-serif;
  margin: 0;
  font-size: 11em;
  position: absolute;
  top: 150px;
  z-index: -1;
  left: 50px;
}

.scrollDownArrow {
  position: absolute;
  bottom: 0;
  right: 0;
}

.contact {
  margin-top: 4em;
  background-color: transparent;
  padding: 1em;
  border: 1px solid rgb(77, 77, 113);
  border-radius: 8px;
  color: rgb(159, 159, 181);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
}

.contact:hover {
  cursor: pointer;
  transform: scale(1.05);
  color: rgb(93, 93, 135);
}

.pages {
  margin-top: 8em;
}

@media screen and (min-width: 1400px) {
  .home {
    height: 100vh;
    width: 100%;
    position: relative;
    margin-top: 0em;
  }

  .header h1 {
    font-size: 5em;
  }

  .header {
    padding-top: 9em;
    width: 100%;
    position: relative;
  }
}
