.projectContainer {
  position: relative;
}

.container {
  margin-top: 4em;
  display: flex;
  justify-content: center;
}

.grid {
  display: grid;
  grid-template-columns: 230px 230px 230px 230px;
  column-gap: 10px;
  row-gap: 15px;
}

.imageContainer {
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.132);
  height: 230px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
}

.imageContainer img {
  height: 90px;
  filter: invert(1);
  opacity: 0.7;
}

.imageContainer:hover {
  cursor: pointer;
}

.imageContainer img:hover {
  cursor: pointer;
  transform: scale(1.15);
}

.imageContainer:hover {
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.hoverText {
  background-color: rgb(25, 27, 52);
  position: absolute;
  left: -64px;
  top: -60px;
  z-index: 1;
  width: 460px;
  height: 120px;
  padding: 1em 1em 1em 1.5em;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

.tags,
.roles {
  display: flex;
  margin: 0.2em 0em;
}

.tags p,
.roles p {
  padding-right: 0.5em;
  font-family: "Roboto Mono", monospace;
  color: rgb(78, 209, 232);
  font-size: small;
}

.roles p {
  font-size: x-small;
}

.title,
.description {
  color: rgb(206, 206, 206);
  font-family: sans-serif;
  letter-spacing: 2px;
}

.title {
  margin: 0.6em 0em;
  font-size: 1.4em;
}

.description {
  margin-bottom: 1em;
  font-size: 0.9em;
}

@media screen and (min-width: 1400px) {
  .projectContainer {
    padding-bottom: 4em;
  }
}

@media screen and (min-width: 1800px) {
  .hoverText {
    background-color: rgb(25, 27, 52);
    position: absolute;
    left: -64px;
    top: -40px;
    z-index: 1;
    width: 520px;
    height: 150px;
    padding: 1em 1em 1em 1.5em;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
  }

  .grid {
    padding-top: 3em;
    grid-template-columns: 280px 280px 280px 280px;
  }

  .title {
    font-size: 1.9em;
  }

  .description {
    font-size: 1.1em;
  }
}
