.projectContainer {
  color: white;
  display: flex;
  justify-content: center;
  margin-top: 3em;
  margin-bottom: 8em;
}

.descriptionContainer {
  position: relative;
  padding: 1.5em;
  border-radius: 8px;
  background-color: rgb(24, 25, 48);
  width: 70%;
}

.imageContainer img {
  height: 130px;
  filter: invert(1);
  opacity: 0.7;
  position: absolute;
  z-index: 2;
  left: -50px;
  top: -50px;
}

.textContainer {
  margin-left: 10em;
}

.tags,
.roles {
  display: flex;
  margin: 0.2em 0em;
}

.tags p,
.roles p {
  font-size: 15px;
  padding-right: 0.5em;
  font-family: "Roboto Mono", monospace;
  color: rgb(78, 209, 232);
}

.roles p {
  margin: 1.5em 0em 2em 0em;
}

.projectContainer h2,
h3 {
  font-family: sans-serif;
}

.projectContainer h2 {
  letter-spacing: 2px;
}

.projectListContainer {
  margin: 0em 0em 3.5em 1em;
}

.projectItem {
  display: flex;
  align-items: center;
  background-color: rgb(24, 25, 48);
  margin-top: 0.8em;
  padding: 1em;
  width: 400px;
  text-decoration: none;
}

.projectItemId {
  font-size: 25px;
  padding-right: 0.5em;
  font-family: "Roboto Mono", monospace;
  color: rgb(78, 209, 232);
}

.projectItemTitle {
  font-family: "Roboto Mono", monospace;
  font-size: 13px;
}

@media screen and (min-width: 1800px) {
  .projectContainer {
    margin-top: 8em;
    margin-bottom: 11em;
  }

  .descriptionContainer {
    width: 55%;
  }

  .projectContainer h2 {
    font-size: 2.2em;
  }

  .projectContainer h3 {
    font-size: 1.4em;
  }
}
