.wrapper {
  margin-top: 2em;
}

.container {
  display: flex;
  flex-direction: column;
}

.project {
  background-color: rgb(24, 25, 48);
  width: 100%;
  margin-bottom: 2em;
  position: relative;
  padding: 1em 0em;
}

.imageContainer {
  position: absolute;
  top: -20px;
  left: -10px;
}

.imageContainer img {
  height: 50px;
  filter: invert(1);
  opacity: 0.7;
}

.text {
  margin-left: 4em;
}

.title {
  margin: 1em 0em 0em 0em;
  font-family: sans-serif;
  color: white;
}

.description {
  color: rgb(159, 159, 181);
  font-size: smaller;
  margin: 1em 0em;
  width: 90%;
}

.tags,
.roles {
  display: flex;
  flex-wrap: wrap;
  margin: 0.2em 0em;
}

.tags p,
.roles p {
  font-size: 12px;
  padding-right: 0.5em;
  font-family: "Roboto Mono", monospace;
  color: rgb(78, 209, 232);
}
