.form {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.input {
  font-family: "Montserrat", sans-serif;
  margin: 0.8em 0em;
  padding: 0.8em;
  border-radius: 6px;
  background-color: transparent;
  border: 1px solid rgb(189, 179, 213);
}

.input::placeholder {
  color: rgb(51, 51, 75);
}

.button {
  margin-top: 1em;
  width: 90px;
  padding: 0.7em;
  border-radius: 6px;
  background-color: transparent;
  border: 1px solid rgb(189, 179, 213);
  color: rgb(51, 51, 75);
  font-family: "Montserrat", sans-serif;
}

.message {
  margin-top: 1em;
}

input,
textarea {
  color: white;
}
