.container {
  width: 100vw;
  padding-top: 0.5em;
}

.elements {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.button {
  border: none;
  background-color: transparent;
  color: white;
  font-size: x-large;
}

.logo {
  height: 3em;
  width: 3em;
}

.menu {
  position: absolute;
  z-index: 2;
  height: 100vh;
  width: 100vw;
  background-color: rgba(17, 18, 34, 0.975);
}

.links {
  display: flex;
  flex-direction: column;
  text-align: center;
  text-transform: uppercase;
  padding-top: 3em;
}

.links a {
  color: white;
  font-family: sans-serif;
  text-decoration: none;
  font-size: 1.8em;
  padding: 0.3em;
  letter-spacing: 0.45em;
}

.icons {
  display: flex;
  justify-content: center;
  margin-top: 3em;
}

.icons a {
  color: white;
  font-size: 2em;
  padding: 0.5em;
}
