.navbarContainer {
  height: 100vh;
  width: 9em;
  background-color: rgb(21, 24, 46);
  position: fixed;
  z-index: 2;
}

.navbarContainer p {
  padding-top: 2em;
}

.logo {
  width: 9em;
  height: 16em;
  background-color: rgb(17, 17, 38);
}

.logo img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.navbarWrapper {
  position: relative;
  height: 100%;
}

.menuWrapper {
  height: 100%;
  position: relative;
}

.menu {
  height: 30%;
  width: 100%;
  position: absolute;
  top: 24%;
}

.links {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.links a {
  padding: 0.4em;
  font-size: 0.9em;
  color: rgb(75, 81, 114);
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 200;
}

.icons {
  margin-top: 2.2em;
  color: rgb(216, 216, 216);
  font-size: 1.3em;
  display: flex;
  justify-content: center;
}

.icons :nth-child(odd) {
  padding-right: 0.3em;
}

.icons a:visited,
.icons a:active,
.icons a:focus,
.icons a {
  text-decoration: none;
  color: white;
}

@media screen and (min-width: 1800px) {
  .menu {
    bottom: 20%;
  }
}
