.scrollDownContainer {
  width: 60px;
  height: 150px;
  position: relative;
}

.arrow {
  font-size: 1.6em;
  position: absolute;
  top: 85px;
  right: 0;
}

.arrow,
.scrollDownText p {
  color: rgb(78, 209, 232);
}

.scrollDownText p {
  transform: rotate(-90deg);
}

.scrollDownText {
  font-size: small;
  position: absolute;
  top: 30px;
  right: -18px;
  display: inline-flex;
  padding: 0;
  margin: 0;
  animation: heart-pulse 1.4s infinite ease-out;
}

@keyframes heart-pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@media screen and (min-width: 1400px) {
  /* .scrollDownText {
    left: -21px;
  }

  .arrow {
    right: unset;
  } */
}
